@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto:ital@1&display=swap');

body{
    font-family: 'IBM Plex Sans', sans-serif;
    background: linear-gradient(90deg, rgba(102,190,201,1) 0%, rgba(116,196,206,1) 30%, rgba(129,201,210,1) 100%);
    margin: 0;
}